
<div class="row">
	<div class="col-md-12">
		<h2>Affichage de la topologie</h2>
		<div id="map-container"></div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<h2>Affichage des données des noeuds</h2>
		<div id="nodes-table-container"></div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<h2>Affichage des données des liens</h2>
		<div id="links-table-container"></div>
	</div>
</div>
