<form id="gml_uploader" method="POST" enctype=multipart/form-data action="{{ url_for('single_topology_uploaded_gml') }}">

	<div class="row">
		<div class="col-md-6">
			<div class="custom-file">
				<input type="file" id="gml_file" class="custom-file-input" name="gml_file" accept="application/gml+xml">
				<label class="custom-file-label" for="gml_file">Sélectionner un fichier GML</label>
			</div>
		</div>
		<input type="submit" class="btn btn-primary" value="Envoyer">
	</div>

</form>
