<nav aria-label="Pagination">
	<ul class="pagination justify-content-center">
		{% if pagination.has_prev %}
			<li class="page-item">
				<a class="page-link" tabindex="-1" href="{{ url_for_other_page(pagination.page - 1) }}">&laquo; Précédent</a>
			</li>
		{% endif %}

		{%- for page in pagination.iter_pages() %}
			{% if page %}
				{% if page != pagination.page %}
					<li class="page-item">
						<a class="page-link" tabindex="-1" href="{{ url_for_other_page(page) }}">{{ page }}</a>
					</li>
				{% else %}
					<li class="page-item active">
						<strong class="page-link">{{ page }}</strong>
					</li>
				{% endif %}
			{% else %}
				<li class="page-item">
					<span class="page-link ellipsis">…</span>
				</li>
			{% endif %}
		{%- endfor %}

		{% if pagination.has_next %}
			<li class="page-item">
				<a class="page-link" tabindex="-1" href="{{ url_for_other_page(pagination.page + 1) }}">Suivant &raquo;</a>
			</li>
		{% endif %}
	</ul>
</nav>
