:root {
    --jumbotron-padding-y: 3rem;
}

.jumbotron {
    padding-top: var(--jumbotron-padding-y);
    padding-bottom: var(--jumbotron-padding-y);
    margin-bottom: 0;
    background-color: #eee;
}
@media (min-width: 768px) {
    .jumbotron {
        padding-top: calc(var(--jumbotron-padding-y) * 2);
        padding-bottom: calc(var(--jumbotron-padding-y) * 2);
    }
}

.jumbotron p:last-child {
    margin-bottom: 0;
}

.jumbotron-heading {
    font-weight: 300;
}

.jumbotron .container {
    max-width: 40rem;
}

div.container {
    margin: 40px auto;
}

footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

footer p {
    margin-bottom: .25rem;
}

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.oi-cloud {
    padding-right: 4px;
}
#gml_uploader, #map-container, table {
    margin: 20px auto;
}
.custom-file-label::after {
    content: "Rechercher"
}
.zoo_topologies .card-img-top {
    height: 300px;
}

#graph {
    height: 500px;
    border: 1px solid #000;
}
#create_topology table {
    font-size: 0.8em;
    margin-top: 0;
}

line.link {
    stroke: #2E2E2E;
    stroke-width: 2px;
}

g.node {
    stroke: #fff;
    stroke-width: 2px;
}
g.node .textClass {
    stroke: #323232;
    font-family: "Lucida Grande", "Droid Sans", Arial, Helvetica, sans-serif;
    font-weight: normal;
    stroke-width: .5;
    font-size: 14px;
}

p.helpLinkCreation {
    position: absolute;
    margin: 0;
    padding: 12px;
    font-size: 16px;
    z-index: -1;
}