{% extends "layout.html" %}
{% block body %}

	<section class="jumbotron text-center">
		<div class="container">
			<h1 class="jumbotron-heading">Bonjour {{ user }}</h1>
			<p class="lead text-muted">C'est sur cette page que vous créez vos différentes topologies.</p>
			<p>
				<button id="scan_network" class="btn btn-secondary my-2">Afficher les noeuds du réseau</button>
			</p>
		</div>
	</section>

	<div id="create_topology" class="container-fluid">
		<div class="row">
			<div class="col">
				<h2 class="text-center m-4">Représentation graphique du réseau virtuel</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-5">
				<div id="data">
					<table class="nodes table table-hover table-bordered table-striped">
						<thead>
							<tr>
								<th>ID</th>
								<th>IP</th>
								<th>MAC</th>
								<th>Latence</th>
								<th>Script à déployer</th>
							</th>
						</thead>
						<tbody>
							
						</tbody>
					</table>
				</div>
			</div>
			<div class="col-md-7">
				<div id="graph">
					<p class="helpLinkCreation">Astuce : Pour créer un lien, cliquer sur les deux noeuds que vous souhaitez relier.</p>
				</div>
				<div>
					<button id="exportJSONtoGML" class="btn btn-primary mt-3 mb-3">Exporter en GML</button>
				</div>
			</div>
		</div>
	</div>

{% endblock %}

{% block footer_scripts %}
	{{ super() }}
	<script src="{{ url_for('static', filename='js/vendor/d3.v3.min.js') }}"></script>
	<script type="text/javascript">
		var script_path = '{{ script_path }}';
	</script>
	<script src="{{ url_for('static', filename='js/create_topo.js') }}"></script>
{% endblock %}
