{% extends "layout.html" %}
{% block body %}

<section class="jumbotron text-center">
	<div class="container">
		<h1 class="jumbotron-heading">Simulateur de topologie réseau</h1>
		<p class="lead text-muted">Ce simulateur unique en son genre vous aide à créer facilement et intuitivement une
			topologie réseau grâce à son interface moderne simple d'utilisation.</p>
		<p>
			<a href="{{ url_for('create_topology') }}" class="btn btn-primary my-2">Créer ma topologie</a>
			<a href="#topologies_list" class="btn btn-secondary my-2">Voir une topologie existante</a>
		</p>
	</div>
</section>

<div class="zoo_topologies py-5 bg-light">
	<div class="container">

		<div class="row">

			<div class="col text-center">

				<h2>Topologies</h2>

				<p>Ces topologies viennent du site <a href="http://www.topology-zoo.org">The Internet Topology Zoo</a></p>

				<p>Vous pouvez toutefois choisir d'uploader directement un de vos fichiers GML en remplissant le formulaire suivant.</p>

				{% include 'partials/gml_uploader_form.html' %}

			</div>

		</div>

		<div class="row" id="topologies_list">

			{% for topo in topologies %}
				<div class="col-md-4">
					<div class="card mb-4 box-shadow">
						<img class="card-img-top" src="{{ topo.image }}" alt="Card image cap">
						<div class="card-body">
							<h3>{{ topo.name }}</h3>
							<p class="card-text">
								<strong>Contexte</strong> : {{ topo.geo_extent }}</br>
								<strong>Localisation</strong> : {{ topo.geo_location }}
							</p>
							<div class="d-flex justify-content-between align-items-center">
								<div class="btn-group">
									<a href="{{ url_for( 'single_topology', topo=topo.name ) }}" id="viewTopology" class="btn btn-sm btn-outline-secondary">Voir la topologie</a>
								</div>
								<small class="text-muted">{{ topo.date }}</small>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}

		</div>

		<div class="d-flex bd-highlight">

			{% include 'partials/pagination.html' %}

		</div>
	</div>

</div>

{% endblock %}
