<!DOCTYPE html>
<html lang="fr">
    <head>
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>Simulateur de topologie réseau | Projet Fil rouge</title>

	    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
	    <link rel="stylesheet" href="{{ url_for('static', filename='css/leaflet.css') }}" />
	    <link rel="stylesheet" href="{{ url_for('static', filename='open-iconic/font/css/open-iconic-bootstrap.css') }}" />
	    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    </head>

    <body>

	    <header>
		    <div class="navbar box-shadow">
			    <div class="container d-flex justify-content-between">
				    <a href="{{ url_for('home') }}" class="navbar-brand text-dark d-flex align-items-center">
					    <span class="oi oi-cloud" title="cloud" aria-hidden="true"></span>
					    <strong>Simulateur</strong>
				    </a>
				    <!--<nav class="my-2 my-md-0 mr-md-3">-->
					    <!--<a class="text-dark" href="#">Topologie GML</a>-->
					    <!--<a class="text-dark" href="#">Créer une topologie</a>-->
				    <!--</nav>-->
				    <div class="metanav">
					    {% if not current_user.is_authenticated %}
						    <a class="btn btn-outline-primary" href="{{ url_for('login') }}">Connexion</a>
					    {% else %}
						    <a class="btn btn-outline-primary" href="{{ url_for('logout') }}">Déconnexion</a>
					    {% endif %}
				    </div>
			    </div>
		    </div>
	    </header>

	    <main role="main">

			{% block body %}{% endblock %}

	    </main>

        <footer class="text-muted">
	        <div class="container">
		        <p class="float-right">
			        <a href="#"><span class="oi oi-arrow-thick-top"></span>Revenir en haut</a>
		        </p>
		        <p>Copyright © 2018 - Projet fil rouge Ingétis</p>
		        <p>Propulsé par Nelson BAPTISTA, Jonathan BRIFOTEAU, Didier CORENTIN, Clément MICHAUD et Florian TIAR</p>
	        </div>
        </footer>

    </body>

    {% block footer_scripts %}
	    <script src="{{ url_for('static', filename='js/vendor/jquery-3.2.1.min.js') }}"></script>

	    <script src="{{ url_for('static', filename='js/vendor/popper.min.js') }}" ></script>
	    
	    <script src="{{ url_for('static', filename='js/vendor/bootstrap.min.js') }}" ></script>
    {% endblock %}
</html>
