<!DOCTYPE html>
<html lang="fr">
    <head>
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>Connexion | Projet Fil rouge</title>

	    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
	    <link rel="stylesheet" href="{{ url_for('static', filename='open-iconic/font/css/open-iconic-bootstrap.css') }}" />
	    <style>
	    	:root {
			  --input-padding-x: .75rem;
			  --input-padding-y: .75rem;
			}

			html,
			body {
			  height: 100%;
			}

			body {
			  display: -ms-flexbox;
			  display: flex;
			  -ms-flex-align: center;
			  align-items: center;
			  padding-top: 40px;
			  padding-bottom: 40px;
			  background-color: #f5f5f5;
			}

			.form-signin {
			  width: 100%;
			  max-width: 420px;
			  padding: 15px;
			  margin: auto;
			}

			.form-label-group {
			  position: relative;
			  margin-bottom: 1rem;
			}

			.form-label-group > input,
			.form-label-group > label {
			  padding: var(--input-padding-y) var(--input-padding-x);
			}

			.form-label-group > label {
			  position: absolute;
			  top: 0;
			  left: 0;
			  display: block;
			  width: 100%;
			  margin-bottom: 0; /* Override default `<label>` margin */
			  line-height: 1.5;
			  color: #495057;
			  border: 1px solid transparent;
			  border-radius: .25rem;
			  transition: all .1s ease-in-out;
			}

			.form-label-group input::-webkit-input-placeholder {
			  color: transparent;
			}

			.form-label-group input:-ms-input-placeholder {
			  color: transparent;
			}

			.form-label-group input::-ms-input-placeholder {
			  color: transparent;
			}

			.form-label-group input::-moz-placeholder {
			  color: transparent;
			}

			.form-label-group input::placeholder {
			  color: transparent;
			}

			.form-label-group input:not(:placeholder-shown) {
			  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
			  padding-bottom: calc(var(--input-padding-y) / 3);
			}

			.form-label-group input:not(:placeholder-shown) ~ label {
			  padding-top: calc(var(--input-padding-y) / 3);
			  padding-bottom: calc(var(--input-padding-y) / 3);
			  font-size: 12px;
			  color: #777;
			}
	    </style>
    </head>

    <body>

		<form class="form-signin" action="login" method="POST">
	      <div class="text-center mb-4">
	        <img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
	        <h1 class="h3 mb-3 font-weight-normal">Connexion</h1>
	        <p>Afin de créer une nouvelle topologie sur notre site, veuillez vous authentifier.</a></p>
	      </div>

	      <div class="form-label-group">
	        <input type="text" name="email" id="inputEmail" class="form-control" placeholder="ex : jd-picard@ingetis.com" required autofocus>
	        <label for="inputEmail">
	        	<span class="oi oi-envelope-closed"></span>
	        	<span>Adresse email ou login</span>
	        </label>
	      </div>

	      <div class="form-label-group">
	        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="*******" required>
	        <label for="inputPassword">
	        	<span class="oi oi-lock-locked"></span>
	        	<span>Mot de passe</span>
	        </label>
	      </div>

	      <div class="checkbox mb-3">
	        <label>
	          <input type="checkbox" value="remember-me"> Se souvenir de moi ?
	        </label>
	      </div>

	      <button class="btn btn-lg btn-primary btn-block" type="submit">Se connecter</button>

	      <p class="mt-5 mb-3 text-muted text-center">
	      	&copy; Ingétis 2018</br>
	      	Brifoteau, Baptista, Michaud, Corentin, Tiar
  		  </p>
	    </form>

    </body>

</html>
