{% extends "layout.html" %}

{% block body %}

<section class="jumbotron text-center">
	<div class="container">
		<h1 class="jumbotron-heading">{{ topo.name }}</h1>
		<p class="lead text-muted">
			<strong>Contexte</strong> : {{ topo.geo_extent }}</br>
			<strong>Localisation</strong> : {{ topo.geo_location }}
		</p>
	</div>
</section>

<div class="single_topology py-5 bg-light">

	<div class="container">

		{% include 'partials/gml_topology.html' %}

	</div>

</div>

{% endblock %}

{% block footer_scripts %}
	{{ super() }}
	<script src="https://d3js.org/d3.v4.js"></script>
	<script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"></script>
	<script>
	    var json_filename = '{{ topo.json }}';
	</script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock %}
