{% extends "layout.html" %}

{% block body %}

<div class="single_topology py-5 bg-light">

	<div class="container">

		{% include 'partials/gml_topology.html' %}

	</div>

</div>

{% endblock %}

{% block footer_scripts %}
	{{ super() }}
    <script src="https://d3js.org/d3.v4.js"></script>
	<script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"></script>
	<script>
	    var json_filename = '{{ file }}';
	</script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock %}

